<%= form_with(model: dataset, local: true) do |form| %>
  <% if dataset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dataset.errors.count, "error") %> prohibited this dataset from being saved:</h2>

      <ul>
      <% dataset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :doi_string %>
    <%= form.text_field :doi_string %>
  </div>

  <div class="field">
    <%= form.label :uploaded_files %>
    <%= form.file_field :uploaded_files, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
