<p id="notice"><%= notice %></p>

<h1>Filesets</h1>

<table>
  <thead>
    <tr>
      <th>Enju ir dataset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filesets.each do |fileset| %>
      <tr>
        <td><%= link_to fileset.enju_ir_dataset.manifestation.original_title, fileset.enju_ir_dataset %></td>
        <td><%= link_to t('page.show'), fileset %></td>
        <td><%= link_to t('page.edit'), edit_fileset_path(fileset) %></td>
        <td><%= link_to t('page.destroy'), fileset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fileset', new_fileset_path %>
