<p id="notice"><%= notice %></p>

<p>
  <strong>Enju ir dataset:</strong>
  <%= link_to @fileset.enju_ir_dataset.manifestation.original_title, @fileset.enju_ir_dataset %>
</p>

<p>
  <strong>Checksum:</strong>
  <%= @fileset.attachment.checksum if @fileset.attachment.attached? %>
</p>

<%= link_to t('page.edit'), edit_fileset_path(@fileset) %> |
<%= link_to t('page.back'), filesets_path %>
