<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.listing', model: t('activemodel.models.resource')) -%></h1>
<div id="content_list">

<%= form_for :resources, url: resources_path, html: {method: 'get'} do -%>
  <p>
    <%= label_tag :search_form_top, t('page.search_term') -%>:
    <%= search_field_tag 'q', h(@q), {id: 'search_form_top', class: 'search_form', placeholder: t('page.search_term')} -%>
    <%= submit_tag t('page.search') -%>
  </p>
<% end %>
<table class="index">
  <thead>
    <tr>
      <th><%= t('activemodel.attributes.resource.title') %></th>
      <th><%= t('activemodel.attributes.resource.date_of_publication') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr class="line<%= cycle("0", "1") -%>">
        <td><%= link_to resource.title, resource_path(resource.id) %></td>
        <td><%= resource.date_of_publication %></td>
        <td><%= link_to t('page.edit'), edit_resource_path(resource.id) %></td>
        <td><%= link_to t('page.destroy'), resource_path(resource.id), method: :delete, data: { confirm: ('page.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@resources) %>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.new', model: t('activemodel.models.resource')), new_resource_path -%></li>
  </ul>
</div>
