<!DOCTYPE html>
<html>
<head>
  <title>Enju ir</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "enju_ir/application", media: "all" %>
  <%= javascript_include_tag "enju_ir/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
