<%= form_with(model: import_request, local: true) do |form| %>
  <% if import_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(import_request.errors.count, "error") %> prohibited this import_request from being saved:</h2>

      <ul>
      <% import_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :doi_record_id %>
    <%= form.text_field :doi_record_id %>
  </div>

  <div class="field">
    <%= form.label :doi_string %>
    <%= form.text_field :doi_string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
