<p id="notice"><%= notice %></p>

<h1>Import Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Doi record</th>
      <th>Doi string</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @import_requests.each do |import_request| %>
      <tr>
        <td><%= import_request.user %></td>
        <td><%= import_request.doi_record %></td>
        <td><%= import_request.doi_string %></td>
        <td><%= link_to 'Show', import_request %></td>
        <td><%= link_to 'Edit', edit_import_request_path(import_request) %></td>
        <td><%= link_to 'Destroy', import_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Import Request', new_import_request_path %>
