<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @collection.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @collection.user.username %>
</p>

<%= link_to t('page.edit'), edit_collection_path(@collection) %> |
<%= link_to t('page.back'), collections_path %>
